@model WebApplicationBookLoan.Models.Loan

@{
    ViewData["Title"] = "Create new loan";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Lender</label>
                <input asp-for="LenderName" class="form-control" />
                <span asp-validation-for="LenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Borrowed</label>
                <input asp-for="BorrowedName" class="form-control" />
                <span asp-validation-for="BorrowedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Book</label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div style="display: flex; justify-content: space-around; padding-top: 20px">
                <div class="form-group" style="background-color: #3CB371; border-radius: 5px">
                    <input style=" color: #F0F8FF" type="submit" value="Create" class="btn btn-sucess" />
                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
